<h2>Sign Up</h2>
<form action="/users" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br>
    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" name="mobile">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="advertiser">Advertiser:</label>
    <input type="checkbox" id="advertiser" name="advertiser">
    <br>
    <input type="submit" value="Save">
</form>