<h1>Add Missing Cat Ad</h1>

<form action="/catboard" method="POST" enctype="multipart/form-data">
  <label for="title">Title</label>
  <br>
  <input type="text" id="title" name="title">
  <br>
  <label for="description">Description</label>
  <br>
  <textarea id="description" name="description"></textarea>
  <br>
  <label for="file">Cat Photo</label>
  <br>
  <input type="file" id="file" name="file">
  <input type="submit" value="Add Missing Cat Ad">
</form>
