<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lost Cats</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <div class="flex-v">
        <a href="/catboard" class="site-name">Find Your Cat</a>
        <% if session.key?(:user_id) %>
          <div class="menu signed-in">
            <% if users_table.get(session[:user_id]).advertiser == 't' %>
              <a href="/campaign/new">Add Campaign</a>
            <% else %>
              <a href="/catboard/new">Add Missing Cat Ad</a>
            <% end %>
            <% if users_table.get(session[:user_id]).advertiser == 't' %>
              <a href="/campaigns">My Campaigns</a>
            <% else %>
              <a href="/catboard/my/ads">My Cat Ads</a>
            <% end %>
            <a href="/users/profile">Profile</a>
            <a href="/users/logout">Log Out</a>
          </div>
        <% else %>
          <div class="menu not-signed-in">
            <a href="/users/signup">Sign Up</a>
            <a href="/users/login">Log In</a>
          </div>
        <% end %>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
      <small>&copy; 2022</small>
    </footer>
  </body>
</html>
